after-login-command = []
after-startup-command = [
  'exec-and-forget borders active_color=0xffa2e0c0 inactive_color=0x44a2e0c0 width=8.0 style=round',
  'exec-and-forget sketchybar'
]
exec-on-workspace-change = ['/bin/bash', '-c',
    'sketchybar --trigger aerospace_workspace_change FOCUSED_WORKSPACE=$AEROSPACE_FOCUSED_WORKSPACE'
]
start-at-login = false
enable-normalization-flatten-containers = true
enable-normalization-opposite-orientation-for-nested-containers = true
accordion-padding = 30
default-root-container-layout = 'tiles'
default-root-container-orientation = 'auto'
on-focused-monitor-changed = ['move-mouse monitor-lazy-center']
automatically-unhide-macos-hidden-apps = false

[key-mapping]
    preset = 'qwerty'

[gaps.inner]
    horizontal = [{ monitor."built-in" = 25 }, 20]
    vertical =  [{ monitor."built-in" = 25 }, 20]

[gaps.outer]
    left =       [{ monitor."built-in" = 20 }, 15]
    bottom =     [{ monitor."built-in" = 20 }, 15]
    top =        [{ monitor."built-in" = 20 }, 45]
    right =      [{ monitor."built-in" = 20 }, 15]

[mode.main.binding]

    alt-t = 'layout tiles horizontal vertical'
    alt-comma = 'layout accordion horizontal vertical'

    alt-h = 'focus left'
    alt-j = 'focus down'
    alt-k = 'focus up'
    alt-l = 'focus right'

    alt-shift-h = 'move left'
    alt-shift-j = 'move down'
    alt-shift-k = 'move up'
    alt-shift-l = 'move right'

    alt-shift-ctrl-h = ['join-with left', 'mode main']
    alt-shift-ctrl-j = ['join-with down', 'mode main']
    alt-shift-ctrl-k = ['join-with up', 'mode main']
    alt-shift-ctrl-l = ['join-with right', 'mode main']

    alt-minus = 'resize smart -50'
    alt-equal = 'resize smart +50'

    alt-tab = 'workspace-back-and-forth'
    alt-shift-tab = 'move-workspace-to-monitor --wrap-around next'
    alt-f = 'fullscreen'
    alt-shift-space = 'layout floating tiling'

    alt-shift-s= 'mode service'
    alt-shift-ctrl-c = 'reload-config'
    alt-enter = '''exec-and-forget open -na Ghostty'''
    alt-b = '''exec-and-forget open -na /Applications/Firefox.app'''

    cmd-h = []
    cmd-m = []
    alt-m = ['macos-native-minimize']

    # cmd-alt-h is used to navigate tabs in chrome
    # cmd-alt-h = []

    alt-shift-f = ['macos-native-fullscreen']
    alt-esc = ['mode disabledaero']
    alt-r = ['mode resize']

    alt-1 = 'workspace 1'
    alt-2 = 'workspace 2'
    alt-3 = 'workspace 3'
    alt-q = 'workspace q'
    alt-w = 'workspace w'
    alt-e = 'workspace e'

    alt-shift-1 = 'move-node-to-workspace 1'
    alt-shift-2 = 'move-node-to-workspace 2'
    alt-shift-3 = 'move-node-to-workspace 3'
    alt-shift-q = 'move-node-to-workspace q'
    alt-shift-w = 'move-node-to-workspace w'
    alt-shift-e = 'move-node-to-workspace e'

    [workspace-to-monitor-force-assignment]
    1 = 'main'
    2 = 'main'
    3 = 'main'
    q = ['secondary', 'main']
    w = ['secondary', 'main']
    e = ['secondary', 'main']


[mode.nativefullscreen.binding]
    alt-shift-f = ['mode main', 'macos-native-fullscreen off']

[mode.disabledaero.binding]
    alt-esc = ['mode main']


[mode.resize.binding]
    h = 'resize width +50'
    j = 'resize height -50'
    k = 'resize height +50'
    l = 'resize width -50'
    enter = 'mode main'
    esc = 'mode main'

[mode.service.binding]
    esc = ['reload-config', 'mode main']
    r = ['flatten-workspace-tree', 'mode main']
    f = ['layout floating tiling', 'mode main']
    backspace = ['close-all-windows-but-current', 'mode main']

    alt-shift-h = ['join-with left', 'mode main']
    alt-shift-j = ['join-with down', 'mode main']
    alt-shift-k = ['join-with up', 'mode main']
    alt-shift-l = ['join-with right', 'mode main']

    down = 'volume down'
    up = 'volume up'
    shift-down = ['volume set 0', 'mode main']
